<footer th:fragment="footer" class="footer mt-auto py-3 my-4 bg-light">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <!--        <li class="nav-item"><a th:href="@{/}" class="nav-link px-2 text-muted">Home</a></li>-->
    </ul>
    <p class="text-center text-muted">Copyright &copy;
        <script>getFullYear()</script>
        . All rights reserved.
    </p>
    <script>
        function getFullYear() {
            document.write(new Date().getFullYear().toString());
        }
    </script>
</footer>